name: Reviewdog (editorconfig-checker)
on:
  workflow_call:
  pull_request:
    paths-ignore:
    - 'LICENSE'
    - '**.md'
permissions:
  checks: write
  contents: read
  pull-requests: write
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Aqua
      uses: ./.github/actions/setup-aqua
    - name: Setup Reviewdog
      id: reviewdog
      uses: ./.github/actions/setup-reviewdog
    - name: Reviewdog
      run: reviewdog -runners 'editorconfig-checker' -reporter '${{ steps.reviewdog.outputs.reporter }}' -diff 'git diff FETCH_HEAD'
      env:
        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
